{
    "parser": "babel-eslint",
    "env": {
        "es6": true,
        "browser": true,
        "node": true,
        "jest": true
    },
    "extends": [
        "eslint:recommended",
        "google"
    ],
    "rules": {
        "operator-linebreak": [ "error", "before" ],
        "require-jsdoc": "off",
        "indent": [ "off", 2 ],
        "indent-legacy": "off",
        "object-curly-newline": "error",
        "object-curly-spacing": [
            "error",
            "always"
        ],
        "array-bracket-newline": "off",
        "array-bracket-spacing": [
            "error",
            "always"
        ]
    }
}